n8n/ingestion_workflow.json
{
  "id": "1",
  "name": "SDOQAP_Ingestion_Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger-node",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 150]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger-node",
      "name": "WebhookTrigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {},
      "id": "manual-trigger-node",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 450]
    },
    {
      "parameters": {
        "filePath": "/stress_test/Olist Brazilian E-Commerce/olist_products_dataset.csv"
      },
      "id": "read-products-node",
      "name": "Read Products CSV",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [450, 150]
    },
    {
      "parameters": {
        "jsCode": "const binaryDataBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst textString = Buffer.from(binaryDataBuffer).toString('utf-8');\nreturn { json: { csv: textString } };"
      },
      "id": "convert-products-node",
      "name": "Convert Products to Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 150]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://namenode:9870/webhdfs/v1/data/raw/products/products.csv?op=CREATE&overwrite=true&user.name=root",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/csv"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.csv }}",
        "options": {}
      },
      "id": "upload-products-node",
      "name": "Upload Products to HDFS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 150],
      "retryOnFail": true,
      "maxTries": 3,
      "delayBetweenRetries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://spark-master:8099/retry",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"table\": \"products\"}",
        "options": {}
      },
      "id": "trigger-spark-products-node",
      "name": "Trigger Spark Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 150],
      "retryOnFail": true,
      "maxTries": 3,
      "delayBetweenRetries": 5000
    },
    {
      "parameters": {
        "url": "https://data.go.th/api/3/action/datastore_search?resource_id=b5c54455-9447-407a-8002-7660703484d7&limit=10000",
        "options": {}
      },
      "id": "fetch-gov-node",
      "name": "Fetch Thai Gov API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "delayBetweenRetries": 5000
    },
    {
      "parameters": {
        "jsCode": "const records = $json.result.records;\nif (!records || records.length === 0) return [{ json: { csv: \"\" } }];\nconst headers = Object.keys(records[0]);\nconst csvRows = [headers.join(\",\")];\nfor (const row of records) {\n  const values = headers.map(header => {\n    const val = row[header];\n    const escaped = ('' + (val === null || val === undefined ? '' : val)).replace(/\"/g, '\"\"');\n    return `\"${escaped}\"`;\n  });\n  csvRows.push(values.join(\",\"));\n}\nreturn [{ json: { csv: csvRows.join(\"\\n\") } }];"
      },
      "id": "convert-gov-node",
      "name": "Convert Gov JSON to CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://namenode:9870/webhdfs/v1/data/raw/gov_data/gov_data.csv?op=CREATE&overwrite=true&user.name=root",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/csv"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.csv }}",
        "options": {}
      },
      "id": "upload-gov-node",
      "name": "Upload Gov CSV to HDFS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "delayBetweenRetries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://spark-master:8099/retry",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"table\": \"gov_data\"}",
        "options": {}
      },
      "id": "trigger-spark-gov-node",
      "name": "Trigger Spark Gov",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "delayBetweenRetries": 5000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM sales_records;",
        "additionalFields": {}
      },
      "id": "query-sales-node",
      "name": "Query Sales Records",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [450, 450],
      "credentials": {
        "postgres": {
          "id": "c711aa48-356f-4cd2-b67a-12908a85f401",
          "name": "Postgres Local"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "delayBetweenRetries": 5000
    },
    {
      "parameters": {
        "jsCode": "const records = items.map(item => item.json);\nif (records.length === 0) return [{ json: { csv: \"\" } }];\nconst headers = Object.keys(records[0]);\nconst csvRows = [headers.join(\",\")];\nfor (const row of records) {\n  const values = headers.map(header => {\n    const val = row[header];\n    const escaped = ('' + (val === null || val === undefined ? '' : val)).replace(/\"/g, '\"\"');\n    return `\"${escaped}\"`;\n  });\n  csvRows.push(values.join(\",\"));\n}\nreturn [{ json: { csv: csvRows.join(\"\\n\") } }];"
      },
      "id": "convert-sales-node",
      "name": "Convert Sales to CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 450]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://namenode:9870/webhdfs/v1/data/raw/sales_records/sales_records.csv?op=CREATE&overwrite=true&user.name=root",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/csv"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.csv }}",
        "options": {}
      },
      "id": "upload-sales-node",
      "name": "Upload Sales CSV to HDFS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 450],
      "retryOnFail": true,
      "maxTries": 3,
      "delayBetweenRetries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://spark-master:8099/retry",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"table\": \"sales_records\"}",
        "options": {}
      },
      "id": "trigger-spark-sales-node",
      "name": "Trigger Spark Sales",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 450],
      "retryOnFail": true,
      "maxTries": 3,
      "delayBetweenRetries": 5000
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "time": "02:00"
            }
          ]
        }
      },
      "id": "schedule-cleanup-trigger-node",
      "name": "Schedule Daily Cleanup",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/v1/system/cleanup",
        "options": {}
      },
      "id": "trigger-api-cleanup-node",
      "name": "Trigger API Retention Cleanup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 600],
      "retryOnFail": true,
      "maxTries": 3,
      "delayBetweenRetries": 5000
    },
    {
      "parameters": {},
      "id": "error-trigger-node",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 750]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/v1/system/alert",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"n8n Ingestion Pipeline Failure\",\n  \"message\": \"Workflow execution failed in node: \" + ($json.execution?.error?.message || \"Unknown error\"),\n  \"severity\": \"critical\"\n}",
        "options": {}
      },
      "id": "send-failure-alert-node",
      "name": "Send Failure Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 750]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "remediation-schedule-node",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 900]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://elasticsearch:9200/sdoqap_upstream_remediations/_search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": {\n    \"range\": {\n      \"timestamp\": {\n        \"gte\": \"now-1h\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "id": "fetch-remediations-node",
      "name": "Fetch Recent Remediations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 900],
      "retryOnFail": true,
      "maxTries": 3,
      "delayBetweenRetries": 5000
    },
    {
      "parameters": {
        "jsCode": "const hits = $json.hits?.hits || [];\nreturn hits.map(hit => ({\n  json: {\n    title: `[Remediation Ticket] ${hit._source.table_name}`,\n    message: `A quality anomaly occurred. Remediation Action required: ${hit._source.remediation_action} (Target: ${hit._source.target_system})`,\n    severity: hit._source.severity || 'warning'\n  }\n}));"
      },
      "id": "parse-remediations-node",
      "name": "Parse Remediation Tickets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 900]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/v1/system/alert",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": $json.title,\n  \"message\": $json.message,\n  \"severity\": $json.severity\n}",
        "options": {}
      },
      "id": "route-remediation-alert-node",
      "name": "Route Remediation Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 900]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "quality-schedule-node",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 1050]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://elasticsearch:9200/sdoqap_quality_runs/_search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": {\n    \"range\": {\n      \"timestamp\": {\n        \"gte\": \"now-15m\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "id": "fetch-quality-runs-node",
      "name": "Fetch Recent Quality Runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 1050],
      "retryOnFail": true,
      "maxTries": 3,
      "delayBetweenRetries": 5000
    },
    {
      "parameters": {
        "jsCode": "const hits = $json.hits?.hits || [];\nreturn hits\n  .map(hit => hit._source)\n  .filter(run => run.quarantined_records > 0 || (run.quality_score < (run.effective_quality_threshold || 90.0)))\n  .map(run => ({\n    json: {\n      title: `[Data Quality Alert] Table: ${run.table_name}`,\n      message: `Quality Score dropped to ${run.quality_score.toFixed(2)}% (Threshold: ${run.effective_quality_threshold || 90.0}%). Quarantined records: ${run.quarantined_records} out of ${run.total_records}. Run ID: ${run.run_id}`,\n      severity: run.quarantined_records > 50 ? 'critical' : 'warning'\n    }\n  }));"
      },
      "id": "filter-low-quality-runs-node",
      "name": "Filter Low Quality Runs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 1050]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/v1/system/alert",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": $json.title,\n  \"message\": $json.message,\n  \"severity\": $json.severity\n}",
        "options": {}
      },
      "id": "route-quality-alert-node",
      "name": "Route Quality Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 1050]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Products CSV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Thai Gov API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Sales Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebhookTrigger": {
      "main": [
        [
          {
            "node": "Read Products CSV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Thai Gov API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Sales Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Read Products CSV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Thai Gov API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Sales Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Products CSV": {
      "main": [
        [
          {
            "node": "Convert Products to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Products to Text": {
      "main": [
        [
          {
            "node": "Upload Products to HDFS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Products to HDFS": {
      "main": [
        [
          {
            "node": "Trigger Spark Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Thai Gov API": {
      "main": [
        [
          {
            "node": "Convert Gov JSON to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Gov JSON to CSV": {
      "main": [
        [
          {
            "node": "Upload Gov CSV to HDFS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Gov CSV to HDFS": {
      "main": [
        [
          {
            "node": "Trigger Spark Gov",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Sales Records": {
      "main": [
        [
          {
            "node": "Convert Sales to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Sales to CSV": {
      "main": [
        [
          {
            "node": "Upload Sales CSV to HDFS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Sales CSV to HDFS": {
      "main": [
        [
          {
            "node": "Trigger Spark Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Daily Cleanup": {
      "main": [
        [
          {
            "node": "Trigger API Retention Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Failure Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Hour": {
      "main": [
        [
          {
            "node": "Fetch Recent Remediations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Remediations": {
      "main": [
        [
          {
            "node": "Parse Remediation Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Remediation Tickets": {
      "main": [
        [
          {
            "node": "Route Remediation Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Recent Quality Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Quality Runs": {
      "main": [
        [
          {
            "node": "Filter Low Quality Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Low Quality Runs": {
      "main": [
        [
          {
            "node": "Route Quality Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "active": true
}
